/* html body */
html,body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    margin: 0  ;
}

.clear {
    clear: both;
}
.fa-brands {
    color: black;
    padding-right: 20px;
}

.fa-solid {
    padding-left: 10px;
}

/* begin header top */
.containers {
    display: inline-flex;
    border: 0.1px solid #c7c4c4e6;
    font-size: 15px;
    height: 30px;
    text-align: center;
    width: 100%;

}

.ht-between {
    display: flex;
    justify-content: space-between;
}

.ht-left,.ht-between,.nation,.individual {
    border-right: 0.1px solid #c7c4c4e6;
    font-size: 12px;
    text-align: center;
    padding: 7px 10px;
}

.ht-left {
    width: 20%;
}

.ht-between {
    width: 60%;

}
.nation {
    width: 10%;

}
.individual {
    justify-content: space-between;
    width: 10%;
}

/* End header top */

/* --------------------------- */
/* begin container */
.inter-header {
    height: 100px;
    border: 0.1px ;
}

.row,.col-lg-2,.icon {
    display: flex;
    height: 40px;
}

.logo {
    padding: 35px;
    padding-right: 120px;
}

.advanced-search {
    display: flex;
    border: 0.1px solid #c7c4c4e6;
    padding: 10px;
    padding-bottom: 30px;
    margin-top: 27px;
    
}

.font-search {
    padding-right: 40px;

}

.input-font {
    padding-right: 150px;
}

.fa-magnifying-glass {
    padding: 0 10px 0 10px;
    color: #fff;
}
button {
    background-color: #e7ab3c;
}



.icon {
    padding: 40px 20px 10px 100px ;
}


.heart,.shop {
    padding-right: 20px;

}
/* End container */


/* begin nav-item */

.container-item {
    height: 50px;
    background-color: #000;
}

#nav {
    margin: 0;
    padding: 0 12px;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 20px;
    display: block;
}

#nav > li:hover > a {
    background-color: #bdbdbdd3;
}

#nav li:hover .subnav {
        display: block;
}

#nav .subnav  {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0 5px;
    width: 200.75px;
}

#nav .subnav a {
    color: #000;
    font-size: 13px;
    line-height: 30px;
}

#nav .subnav li:hover a {
    color: #d1b120;
}
/* end nav-item */


/* begin begin product list */

#content .product-list {
    margin-top: 60px;
}

#content .product-item {
    float: left;
    width: 33.33333%;
    text-align: center;
 
}

.product-item .Add-product {
    padding: 10px;
    text-align: center;
}
.product-item .Add-product:hover {
    background-color: rgb(233, 61, 61);
    color: #fff;
}
/* end product list */

/* begin begin footer */
#footer .trademark-logo {
    background-color: #2e2e2e;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    height: 60px;
}

#footer .logo {
    padding: 4px 20px;
}

#footer .footer-information {
    background-color: #000;
    width: 1050px;
    height: 200px;
    padding: 40px 0 40px 0;
    width: 100%;
    margin-top: 0;
}

#footer .information-item p, #footer .information-item h4{
    color: #706f6f;
    margin: 0;
    font-size: 14px;
    line-height: 40px;
}
#footer .information-item h4 {
    color: #fff;
}
#footer .information-font {
    float: left;
    padding: 0 15px;
}

#footer .information-font-1 {
    width: 21%;
}

#footer .information-font-2 {
    width: 21%;
}

#footer .information-font-3 {
    width: 21%;
}

#footer .information-font-4 {
    width: 21%;
}


 /* end begin footer */